@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%; /* 1rem = 10px */

  --primary-color: #850000;
  --headline: #212529;
  --paragraph: #495057;
  --infos: #fff9fc;
  --fundo1: #fbebf0;
  --fundo2: #faf2f7;

  --nav-height: 7.2rem;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'DM Sans';
  font-size: 1.6rem;

  text-align: center;

  overflow: overlay;

  background-color: var(--fundo2);
}

.wrapper {
  width: 37.5rem;
  margin-inline: auto;
  padding-inline: 2.4rem;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

section {
  padding-block: 10rem;
}

section header h4 {
  font-size: 1.8rem;
  color: var(--primary-color);
  line-height: 150%;
  letter-spacing: 0.08rem;

  text-transform: uppercase;
}

section header h2 {
  font-size: 3.7rem;
  line-height: 4.7rem;

  color: var(--headline);

  margin-top: 1.6rem;
}

section header h1 {
  font-size: 3.5rem;
  color: var(--secondary-color);
  line-height: 130%;

  margin-top: 1.6rem;
  margin-bottom: 2.4rem;
}

section .content p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;

  color: var(--paragraph);
}

/* NAVIGATION */

nav {
  display: flex;

  height: var(--nav-height);

  position: fixed;
  top: 0;
  width: 100vw;

  z-index: 100;
}

nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav.scroll {
  background: var(--primary-color);
}

nav.scroll button path {
  stroke: black;
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
}

/* HOME */
#home {
  padding-top: calc(4.1rem + var(--nav-height));
}

#home::before {
  content: '';
  width: 100%;
  height: calc(108rem + var(--nav-height));
  background-color: var(--fundo1);
  display: block;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#home p {
  font-size: 1.6rem;
  line-height: 150%;
  color: var(--paragraph);

  margin-bottom: 2.2rem;
}

#home img {
  width: 38rem;
  display: block;
  margin-inline: auto;
  object-position: -2.4rem;
}

#home .infos {
  width: 32.7rem;
  padding-block: 4rem;
  margin-inline: auto;

  background-color: var(--infos);
  border: 1px solid var(--fundo1);
  border-radius: 0.6rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5.8rem;
}

#home .infos p {
  margin: 0;
  color: var(--primary-color);
  font-size: 1.6rem;
  line-height: 150%;
}

#home .info {
  font-size: 4.8rem;
  color: var(--headline);
  line-height: 130%;

  margin-bottom: 0.4rem;
}

/* MENU-EXPANDED */

body.menu-expanded > :not(nav) {
  visibility: hidden;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
  position: fixed;
  opacity: 0;
  visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
  opacity: 1;
  visibility: visible;
}

body.menu-expanded {
  overflow: hidden;
}

.menu {
  transform: translateY(100%);
}

body.menu-expanded .menu {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--primary-color);

  width: 100vw;
  height: 100vh;

  padding-top: var(--nav-height);

  transition: transform 400ms;

  transform: translateY(0);
}

.menu ul:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;

  margin-top: 6rem;

  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
}

.menu ul li a {
  color: #ffffff;
  text-decoration: none;
}

.menu .button {
  background: #ffffff;
  border-radius: 4rem;
  border: none;
  cursor: pointer;

  color: var(--primary-color);
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.3rem;
  text-decoration: none;

  display: inline-block;
  padding: 1.6rem 3.2rem;
  margin-top: 4.8rem;
}

body.menu-expanded .logo,
body.menu-expanded nav button {
  position: relative;
  z-index: 100;
}

body.menu-expanded button path {
  stroke: black;
}

/* SERVICES */

#social header h2 {
  margin-bottom: 6rem;
}

#social .cards {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

#social .card {
  padding: 2.4rem;
  text-align: left;

  background: #ffffff;
  border: 1px solid var(--fundo1);
  border-radius: 0.6rem;
}

#social .card h3 {
  font-size: 2.4rem;
  line-height: 3.1rem;

  margin-block: 1.6rem;

  color: var(--headline);
}

/* ABOUT */

#about {
  text-align: left;
  background-color: var(--infos);
}

#about header h2 {
  margin-bottom: 2.4rem;
}

#about img {
  margin-top: 3.2rem;
}
